Repository moevm/nosql1h25-cleanday, pull requests merged in 2025-06, with the labels that each got.

#59 Create city repo
  backend/src/data/query.py
  backend/src/repo/city_repo.py
Labels: enhancement, database, backend, nosql

#64 Create Cleanday repo
  backend/src/data/entity.py
  backend/src/data/query.py
  backend/src/repo/cleanday_repo.py
  backend/src/repo/model.py
  backend/src/repo/user_repo.py
Labels: enhancement, database, backend, nosql

#66 Add city and location api stubs
  backend/src/api/auth.py
  backend/src/api/city.py
  backend/src/api/location.py
  backend/src/data/query.py
  backend/src/main.py
  backend/src/repo/city_repo.py
Labels: enhancement, backend

#68 New user api functions
  backend/src/api/user.py
  backend/src/data/query.py
  backend/src/repo/user_repo.py
Labels: enhancement, database, backend, nosql

#71 Create location repo
  backend/src/data/query.py
  backend/src/repo/location_repo.py
Labels: enhancement, database, backend, nosql

#78 Add repo existence checks
  backend/src/repo/city_repo.py
  backend/src/repo/cleanday_repo.py
  backend/src/repo/location_repo.py
  backend/src/repo/user_repo.py
Labels: enhancement, database, backend, nosql

#80 Create participation repo
  backend/src/repo/cleanday_repo.py
  backend/src/repo/model.py
  backend/src/repo/participation_repo.py
  backend/src/repo/user_repo.py
Labels: enhancement, database, backend, nosql

#82 Add cleanday comment create function
  backend/src/repo/model.py
  backend/src/repo/participation_repo.py
Labels: enhancement, database, backend, nosql

#83 Add cleanday requirement functions
  backend/src/repo/cleanday_repo.py
  backend/src/repo/participation_repo.py
Labels: enhancement, database, backend, nosql

#84 Add repo functions to add images
  backend/src/repo/cleanday_repo.py
  backend/src/repo/location_repo.py
  backend/src/repo/model.py
Labels: enhancement, database, backend, nosql

#85 Add new fields to get cleandays
  backend/src/data/query.py
  backend/src/repo/cleanday_repo.py
  backend/src/repo/user_repo.py
Labels: enhancement, database, backend, nosql

#87 Update api image endpoints
  backend/src/api/cleanday.py
  backend/src/api/location.py
  backend/src/data/query.py
Labels: enhancement, database, backend, nosql

#89 Add count to paging api
  backend/src/api/cleanday.py
  backend/src/api/user.py
  backend/src/data/query.py
Labels: enhancement, database, backend, nosql

#93 Fix datetime string conversion
  backend/src/repo/cleanday_repo.py
  backend/src/repo/log_repo.py
Labels: database, backend, fix, nosql

#95 Remove repo transaction
  backend/src/repo/participation_repo.py
Labels: database, backend, fix, nosql

#104 Add get me api
  backend/src/api/auth.py
Labels: enhancement, backend

#106 Add location service functions
  backend/src/api/location.py
  backend/src/repo/location_repo.py
Labels: enhancement, backend

#107 Игнор node_modules при создании контейнера
  frontend/.dockerignore
Labels: docker

#105 Подключение реализованных окон
  frontend/src/components/dialog/CleandayCompletionDialog.tsx
  frontend/src/components/dialog/CreateCleandayDialog.tsx
  frontend/src/components/dialog/CreateLocationDialog.tsx
  frontend/src/components/dialog/EditCleandayDialog.tsx
  frontend/src/components/dialog/ParticipationDialog.tsx
  frontend/src/components/dialog/ViewCleandayResultsDialog.tsx
  frontend/src/components/layout/Appbar.tsx
  frontend/src/main.tsx
  frontend/src/models/User.ts
  frontend/src/pages/CleandayPage/CleandayPage.tsx
  frontend/src/pages/CleandaysPage/CleandaysPage.tsx
  frontend/src/pages/Menu/Menu.tsx
  frontend/src/pages/Registration/Registration.tsx
  frontend/src/pages/StatisticsPage/StatisticsPage.tsx
  frontend/src/pages/UserPage/UserPage.tsx
  frontend/src/pages/UserProfilePage/UserProfilePage.tsx
Labels: enhancement, frontend, fix

#110 Implement Cleanday service
  backend/src/api/cleanday.py
  backend/src/data/query.py
  backend/src/repo/cleanday_repo.py
  backend/src/repo/model.py
  backend/src/repo/user_repo.py
Labels: enhancement, backend

#112 Изменение переменных среды
  .env
  docker-compose.yml
Labels: docker

#113 Add simple db migration
  backend/src/api/cleanday.py
  backend/src/auth/service.py
  backend/src/config/__init__.py
  backend/src/config/environment.py
  backend/src/main.py
  backend/src/repo/city_repo.py
  backend/src/repo/client.py
  backend/src/repo/migration.py
Labels: database, backend

#114 Add missing filters
  backend/src/api/cleanday.py
  backend/src/api/user.py
  backend/src/data/query.py
  backend/src/repo/cleanday_repo.py
  backend/src/repo/user_repo.py
  backend/src/repo/util.py
Labels: enhancement, database, backend, nosql

#116 Functionality fixes
  backend/src/api/auth.py
  backend/src/api/user.py
  backend/src/repo/user_repo.py
  backend/src/repo/util.py
Labels: database, backend, fix, nosql

#130 Добавление запроса на получение статистики
  frontend/src/api/statistics/endpoints.ts
  frontend/src/api/statistics/models.ts
  frontend/src/hooks/statistics/useGetStatistics.tsx
  frontend/src/models/Statistics.ts
  frontend/src/pages/protected/StatisticsPage/StatisticsPage.tsx
  frontend/src/utils/statistics/mapper.ts
Labels: frontend

#129 Создание моделей для логов
  frontend/src/api/cleanday/models.ts
  frontend/src/hooks/cleanday/useGetCleandayLogs.tsx
  frontend/src/models/Cleanday.ts
  frontend/src/models/Comment.ts
  frontend/src/utils/cleanday/mapper.ts
Labels: frontend

#135 Куча фиксов фронтенда для итерации 4
  frontend/src/axiosInstance.ts
  frontend/src/components/dialog/CreateCleandayDialog.tsx
  frontend/src/contexts/authorization/AuthContext.tsx
  frontend/src/contexts/authorization/AuthProvider.tsx
  frontend/src/contexts/authorization/types.ts
  frontend/src/hooks/authorization/useGetAuth.tsx
  frontend/src/hooks/location/useGetAllLocation.tsx
  frontend/src/main.tsx
  frontend/src/pages/protected/CleandaysPage/CleandaysPage.tsx
  frontend/src/pages/public/AuthorizationPage/AuthorizationPage.tsx
  frontend/src/pages/routes/ProtectedRoute.tsx
Labels: frontend

#128 Исправление обновления таблицы с субботниками после создания субботника
  frontend/src/utils/city/mapper.ts
  frontend/src/utils/cleanday/mapper.ts
  frontend/src/utils/location/mapper.ts
  frontend/src/utils/user/mapper.ts
Labels: frontend

#137 Исправление изображений и css
  frontend/src/App.tsx
  frontend/src/components/layout/Appbar.tsx
  frontend/src/index.css
  frontend/src/pages/protected/UserPage/UserPage.css
  frontend/src/pages/protected/UserProfilePage/UserProfilePage.css
  frontend/src/pages/protected/UsersPage/UsersPage.css
  frontend/src/pages/public/AuthorizationPage/AuthorizationPage.css
  frontend/src/pages/public/AuthorizationPage/AuthorizationPage.tsx
  frontend/src/pages/public/MenuPage/MenuPage.css
  frontend/src/pages/public/MenuPage/MenuPage.tsx
  frontend/src/pages/public/RegistrationPage/RegistrationPage.css
  frontend/src/pages/public/RegistrationPage/RegistrationPage.tsx
Labels: bug, frontend

#140 Реализация страницы просмотра одного пользователя из таблицы
  frontend/src/components/dialog/OrganizedCleandaysDialog.tsx
  frontend/src/components/dialog/ParticipatedCleandaysDialog.tsx
  frontend/src/hooks/authorization/useGetMe.tsx
  frontend/src/hooks/user/useGetUserOrganizedCleandays.tsx
  frontend/src/hooks/user/useGetUserParticipatedCleandays.tsx
  frontend/src/models/User.ts
  frontend/src/pages/protected/UserPage/UserPage.tsx
  frontend/src/utils/user/mapper.ts
Labels: enhancement, frontend

#143 Реализовано отображение страницы авторизованного пользователя
  frontend/src/pages/protected/UserProfilePage/UserProfilePage.tsx
Labels: enhancement, frontend

#160 Реализованы сортировка и фильтрация на страницах просмотра всех субботников и пользователей
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/cleanday/models.ts
  frontend/src/api/user/models.ts
  frontend/src/components/PaginatedTable/PaginatedTable.tsx
  frontend/src/hooks/cleanday/useGetCleandays.tsx
  frontend/src/hooks/templates/get/useGetPaginatedManyTemplate.tsx
  frontend/src/pages/protected/CleandaysPage/CleandaysPage.tsx
  frontend/src/pages/protected/UsersPage/UsersPage.tsx
  frontend/src/utils/api/createQueryParams.ts
  frontend/src/utils/filterUtils.ts
  frontend/src/utils/table/columns.tsx
Labels: frontend

#158 Реализация импорта/экспорта базы данных
  backend/src/api/stats.py
  frontend/src/api/statistics/endpoints.ts
  frontend/src/components/dialog/ImportDialog.tsx
  frontend/src/hooks/statistics/useExportStatistics.tsx
  frontend/src/hooks/statistics/useImportStatistics.tsx
  frontend/src/hooks/templates/get/useGetOneTemplate.tsx
  frontend/src/pages/protected/StatisticsPage/StatisticsPage.tsx
Labels: frontend, backend

#159 Реализация изменения данных пользователя и аватара
  frontend/src/components/layout/Appbar.tsx
  frontend/src/hooks/templates/get/useGetOneTemplate.tsx
  frontend/src/hooks/templates/update/usePatchTemplate.tsx
  frontend/src/hooks/templates/update/usePutTemplate.tsx
  frontend/src/hooks/user/useGetUserAvatar.tsx
  frontend/src/hooks/user/useUpdateUserAvatar.tsx
  frontend/src/hooks/user/useUpdateUserInfo.tsx
  frontend/src/pages/protected/UserPage/UserPage.tsx
  frontend/src/pages/protected/UserProfilePage/UserProfilePage.tsx
  frontend/src/pages/public/MenuPage/MenuPage.tsx
  frontend/src/utils/files/fileToBase64.ts
Labels: frontend

#162 Исправление стилей
  frontend/src/App.tsx
  frontend/src/pages/protected/CleandayPage/CleandayPage.tsx
  frontend/src/pages/protected/UserPage/UserPage.css
  frontend/src/pages/protected/UsersPage/UsersPage.css
  frontend/src/pages/protected/UsersPage/UsersPage.tsx
  frontend/src/pages/public/RegistrationPage/RegistrationPage.css
  frontend/src/pages/public/RegistrationPage/RegistrationPage.tsx
Labels: frontend, fix

#165 Implement heatmaps on backend
  backend/src/api/cleanday.py
  backend/src/api/stats.py
  backend/src/api/user.py
  backend/src/data/query.py
  backend/src/repo/cleanday_repo.py
  backend/src/repo/user_repo.py
  backend/src/repo/util.py
Labels: feature, database, backend, nosql

#167 Реализована работу фильтров и сортировок на странице просмотра субботников пользователя во всех вариациях
  frontend/src/components/dialog/OrganizedCleandaysDialog.tsx
  frontend/src/components/dialog/ParticipatedCleandaysDialog.tsx
  frontend/src/components/table/CleandaysTable/CleandaysTable.tsx
  frontend/src/components/table/PaginatedTable/PaginatedTable.tsx
  frontend/src/hooks/user/useGetUserOrganizedCleandays.tsx
  frontend/src/hooks/user/useGetUserParticipatedCleandays.tsx
  frontend/src/pages/protected/CleandaysPage/CleandaysPage.tsx
  frontend/src/pages/protected/UserPage/UserPage.tsx
  frontend/src/pages/protected/UserProfilePage/UserProfilePage.tsx
  frontend/src/pages/protected/UsersPage/UsersPage.tsx
  frontend/src/utils/user/mapper.ts
Labels: frontend

#173 Реализация heatmaps со стороны фронтенда
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/statistics/endpoints.ts
  frontend/src/api/statistics/models.ts
  frontend/src/components/dialog/CleandayHeatmapDialog.tsx
  frontend/src/components/dialog/UserHeatmapDialog.tsx
  frontend/src/components/table/CleandaysTable/CleandaysTable.tsx
  frontend/src/hooks/statistics/useGetCleandayHeatmap.tsx
  frontend/src/hooks/statistics/useGetUserHeatmap.tsx
  frontend/src/models/Statistics.ts
  frontend/src/pages/protected/CleandaysPage/CleandaysPage.tsx
  frontend/src/pages/protected/UsersPage/UsersPage.tsx
Labels: frontend

#180 Fix comments & members
  backend/src/api/cleanday.py
  backend/src/data/query.py
  backend/src/repo/migration.py
Labels: database, backend, fix, nosql

#181 Обновление информации о субботнике
  backend/src/repo/cleanday_repo.py
  frontend/src/api/cleanday/models.ts
  frontend/src/components/dialog/EditCleandayDialog.tsx
  frontend/src/hooks/cleanday/useUpdateCleandayInfo.tsx
Labels: frontend

#176 Просмотр и добавление комментариев
  frontend/src/api/cleanday/models.ts
  frontend/src/hooks/cleanday/useCreateComment.tsx
  frontend/src/hooks/cleanday/useGetCleandayComments.tsx
  frontend/src/pages/protected/CleandayPage/CleandayPage.tsx
  frontend/src/utils/cleanday/mapper.ts
Labels: feature, frontend

#185 Добавление возможности загрузки фото локаций и отображение фото локаций на странице субботника
  frontend/src/api/image/models.ts
  frontend/src/components/dialog/CreateCleandayDialog.tsx
  frontend/src/components/dialog/CreateLocationDialog.tsx
  frontend/src/hooks/location/useAddLocationImages.tsx
  frontend/src/hooks/location/useGetLocationImages.tsx
  frontend/src/models/Image.ts
  frontend/src/pages/protected/CleandayPage/CleandayPage.tsx
  frontend/src/utils/image/mapper.ts
Labels: frontend
