Repository moevm/nosql1h25-cleanday, pull requests merged in 2025-05, with the labels that each got.

#49 Авторизация и всё необходимое к ней
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/api/endpoints.ts
  frontend/src/index.css
  frontend/src/models/User.ts
  frontend/src/pages/AppRoutes.tsx
  frontend/src/pages/Authorization/Authorization.css
  frontend/src/pages/Authorization/Authorization.tsx
  frontend/src/pages/CleandaysPage/CleandaysPage.css
  frontend/src/pages/CleandaysPage/CleandaysPage.tsx
  frontend/src/pages/Menu/Menu.css
  frontend/src/pages/Menu/Menu.tsx
  frontend/src/pages/Registration/Registration.css
  frontend/src/pages/Registration/Registration.tsx
  frontend/src/pages/StatisticsPage/StatisticsPage.css
  frontend/src/pages/StatisticsPage/StatisticsPage.tsx
  frontend/src/pages/UsersPage/UsersPage.css
  frontend/src/pages/UsersPage/UsersPage.tsx
  frontend/src/pages/routes.tsx
Labels: frontend

#51 Создание Appbar
  frontend/src/App.tsx
  frontend/src/components/layout/Appbar.css
  frontend/src/components/layout/Appbar.tsx
  frontend/src/pages/Authorization/Authorization.tsx
Labels: enhancement, frontend

#53 Создание диалогового окна создания субботника
  frontend/src/components/dialog/CreateCleandayDialog.tsx
  frontend/src/models/User.ts
Labels: enhancement, frontend

#56 Implement User Repo
  backend/requirements.txt
  backend/src/data/query.py
  backend/src/repo/client.py
  backend/src/repo/model.py
  backend/src/repo/user_repo.py
Labels: database, backend, nosql

#60 Добавление недостающих заглушек для эндпоинтов API
  backend/src/api/auth.py
  backend/src/api/cleanday.py
  backend/src/api/stats.py
  backend/src/api/user.py
Labels: backend

#61 Создание docker-compose для итогового проекта
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/vite.config.ts
Labels: docker
